body {
    font-family: Arial, sans-serif;
}

main, footer, nav {
    padding: 0 10% 5%;
}

a, a:hover {
    color: black;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    width: 70%;
    margin: auto;
    padding: 10px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20% auto;
}

th { 
    text-align: center; 
    background: #d8d2d2;
    padding: 5px;
    border: 1px solid black;
}

td { 
    padding: 5px;
    border: 1px solid black;
    empty-cells: hide;
}

caption {
    font-weight: bold;
    margin-bottom: 10%;
}

.case {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.description {
    text-align: center;
    font-style: italic;
}

.disclamer {
    font-size: smaller;
}

.product {
    display: flex;
    gap: 20px;
    width: 100%;
}

@media (max-width: 768px) {

    .product {
        flex-direction: column;
    }

}
.photo {
    flex: 40%;
}

.chars {
    flex: 50%;
}

.buy {
    flex: 10%;
}

.price {
    font-size: 30px;
    color: red;
}

.oldprice {
    font-size: 20px;
    color: blue;
}

.bucket {
    background: navy;
    color: white; 
    font-size: 16px;
}

.tobuy {
    background: red;
    color: white;
    font-size: 20px;
}
